Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
AI
AIBehaviorToolkit
Animation
Art
Effects
DynamicWallRun
FastMovementSystem
FPGrappleHook
GrapplingHook
AnimatedLowPolyWeapons
LowPolyShooterPack
/Content/BlockingStarterPack/Maps/Blocking_ExempleMap_BuiltData.uasset
